<html>
<head>
	<title>View Jadwal Briefing</title>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
</head>
<body>
	<!--NAVBAR-->
	<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
  					<a class="navbar-brand" href="#">Pendaftar</a>
  					<a class="navbar-brand" href="#">Edit Notes</a>
  					<a class="navbar-brand" href="#">Jadwal Briefing</a>	
			</div>
				<a class="nav navbar-brand navbar-right" href="#">Logout</a>
		</div>
	</nav>
	<div class="container-fluid">
		<div>
			<div class="col-md-8"><h3>Tabel Jadwal Briefing</h3></div>
			<div class="col-md-4"><a class="pull-right btn btn-info" href="">ADD NEW</a></div>
		</div>
		
		<table class="table table-bordered table-hover">
			<tr>
				<td>Hari, Tanggal</td>
				<td>Shift</td>
				<td>Tempat</td>
				<td>Kapasitas</td>
				<td>Action</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="col-md-4"><a class="btn btn-default" href="">Update</a></div>
					<div class="col-md-4"><a class="btn btn-default" href="">Delete</a></div>
				</td>
			</tr>
		</table>
	</div>
	
</body>
</html>